/* 
    Document   : etcon
    Created on : 2013.03.09., 12:02:24
    Author     : nagy.akos
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

label,a, body,div
{
        /* font-family : Arial, Helvetica, sans-serif; */
  font-family: Verdana;
        font-size : 12px;
  background: #dae2f5;
}

input[type=text], textarea
{
font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #dae2f5;
}

div.output
{ border:1px solid gray;
  margin:0px;
  padding: 8px;
   float: left;
   width: 510px;
   background: #edf4fc;
   text-align:left;
}

div.boutput
{ border:1px solid gray;
  margin:0px;
  padding: 4px;
   float: left;
   width: 430px;
   height: 25px;
   background: #edf4fc;
   text-align:center;
   vertical-align: middle;
}

div.begin
{ border:1px solid gray;
  float: left;
  padding:4px;
  width: 111px;
  height: 24px;
  text-align:center;
  vertical-align: middle;
}

.err
{ font-family : Verdana, Helvetica, sans-serif;
        font-size : 12px;
        color: red;
  background:#edf4fc;

}
.wait
{  font-family : Verdana, Helvetica, sans-serif;
   color: darkblue;
   font-size : 12px;
 /*  text-decoration: blink; */
}
.info
{
  font-family : Arial, Helvetica, sans-serif;
  font-size : 10px;
        color: darkblue;
}
.infomess
{
 font-family : Verdana, Helvetica, sans-serif;
 font-size : 12px;
  color: darkblue;
}


.container
{
text-align:center;
width: 650px; height: 340px; padding:5px;
background-position: center;
background-color: #edf4fc;

}