/* 
    Document   : style
    Created on : 2013.03.09., 11:40:33
    Author     : nagy.akos
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
	font-family: Arial, sans-serif;/*ha nicn arial, hasznalja a kovetketzot, stb*/
	font-size: 0.8em;/*minden kissebb lesz, 80%*/
        width:600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

ul
{
    height: 0.8em;
    font-size: 4em;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid red;
}

li
{
    display: inline-block;
    color: #ff910b;
    padding-left: 1em;
    vertical-align: bottom;
    margin-top: -1em;
    cursor: cell;
}

    li.selected
    {
        color: #f44;
        margin-bottom: 0.2em;
    }

    li:hover
    {
        color: #f00;
        margin-bottom: 0.2em;
    }


table
{
	padding: 0;
	margin: 0 0 3px 0;
	border-spacing: 1px;
	border-collapse: separate;
	border: 1px solid #e0e0e0;
	background: #fff;
	width: 100%; 
}

thead
{
	background: #e7e7e7;
	cursor: pointer;
}

thead td
{
    	font: 11px sans-serif;
	font-weight: bold;
}

td
{
	padding: 2px;
	margin: 0px;
	font: 12px sans-serif;
}

tr:nth-child(even)
{
	background: #fff;
	cursor: pointer;
}

tr:nth-child(odd)
{
	background: #f7f7f7;
	cursor: pointer;
}

tbody tr:hover
{
    background: hotpink;
}

tfoot
{
    	background: #f0f0f0;
}
.tomato-grid .sortasc {
	background-image: url(up.gif);
	background-position: 97% 60%;
	background-repeat: no-repeat;
}
.tomato-grid .sortdes {
	background-image: url(dn.gif);
	background-position: 97% 80%;
	background-repeat: no-repeat;
}


#refresh-button {
	width: 80px;
}
#refresh-time {
	width: 120px;
}
#refresh-spinner {
	visibility: hidden;
	vertical-align: middle;
}

input[type='button'] {
	color: #000;
	background: #f7f7f7;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
input[type='button'][disabled] {
	color: #aaa;
}
input[type='button']:hover {
	background: #BF6060;
	color: #fff;
}
input,
select {
	font: 12px sans-serif;
}

.stoped {
	background: red;
}

.started {
	background: green;
}

